# $Id$

ivy.base=ivy
ivy.project=share/dbutils
ivy.repository.base=/home/djg/ivy-repository
ivy.target=development
ivy.lib=${ivy.repository.base}/${ivy.project}/${ivy.target}/lib
ivy.dep.dir=../${ivy.target}
ivy.dep.file=ivy.xml
